<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>KiCad PCB Diff</title>
<style>

.fieldset-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
}

#pcb-image-div {
  padding-top: 60px;
}
.commit {
  border-left: 4px solid #4CAF50;
  background-color: #fff;
  margin-bottom: 14px;
  padding: 10px 16px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.commit:hover {
  background-color: #cce5ff;
}

.commit.hash {
  font-weight: bold;
  color: #444;
}

.commit .refs {
  font-size: small;
  color: #444;
}

.message {
  margin: 8px 0;
}
footer.meta {
  font-size: 0.85em;
  color: #777;
}

button.apply {
  background-color: #2ea44f;
  color: #fff;
  border: 1px solid;
  border-radius: 6px;
  padding: 5px;
}

button.show-option {
  margin-right: 1em;
}

</style>
</head>
<body>

<div class="fieldset-wrapper" style="display: flex;">
  <fieldset id="commit-set">
  <legend>Select commit/backup:</legend>

  {% set mode_conf = {
      'base': {
          'title': 'Base (old commit)',
          'commit_id': base_commit_id,
          'show_options_handler': 'showBaseOptions()',
          'select_option_handler': 'selectBaseOption(this)',
      },
      'target': {
          'title': 'Target (new commit)',
          'commit_id': target_commit_id,
          'show_options_handler': 'showTargetOptions()',
          'select_option_handler': 'selectTargetOption(this)',
      },
  } %}

  {% for mode, conf in mode_conf.items() %}
    <label for="{{mode}}-commit">{{conf['title']}}:</label>
    <input type="text" id="{{mode}}-commit" size="7"
    placeholder="input or choose"
    value="{{conf['commit_id']}}" />

    <button command="show-modal" commandfor="{{mode}}-options" class="show-option">show list</button>
    <dialog id="{{mode}}-options" onclick="closeDialog(this)">
      <article class="commit" onclick="{{conf['select_option_handler']}}" data-commit-id="WORK">
        <header class="hash">WORK</header>
        <p class="message">Working tree</header>
      </article>
      {% for cl in commit_logs %}
      <article class="commit" onclick="{{conf['select_option_handler']}}" data-commit-id="{{cl.hash}}">
        <header>
          commit
          <code class="hash">{{cl.hash}}</code>
          <span class="refs">{% if cl.refs != '' %}({{cl.refs}}){% endif %}</span></header>
        <p class="message">{{cl.subject}}</p>
        <p class="message">{{cl.body}}</p>
        <footer class="meta">Author: {{cl.author_name}} | Date: {{cl.author_date}}</footer>
      </article>
      {% endfor %}
      {% for bv in backup_versions %}
      <article class="commit" onclick="{{conf['select_option_handler']}}" data-commit-id="{{bv}}">
        <header>backup {{bv}}</header>
      </article>
      {% endfor %}
      <ul>
      </ul>
    </dialog>
  {% endfor %}

  <button id="change-commit-button" class="apply">Apply commit setting</button>

  </fieldset>

  <fieldset id="imagesel-set" disabled>
    <legend>Select image:</legend>

    <select id="layer-select">
      {% for l in obj_list %}
      <option value="{{l}}" {% if l == layer %}selected{% endif %}>{{l}}</option>
      {% endfor %}
    </select>

    <input type="radio" name="imagesel" id="show-bottom" value="show-bottom" />
    <label for="show-bottom">Bottom</label>

    <input type="radio" name="imagesel" id="show-top" value="show-top" />
    <label for="show-top">Top</label>

    <input type="radio" name="imagesel" id="show-both" value="show-both" checked />
    <label for="show-both">Both</label>
  </fieldset>

  <fieldset id="vm-set" disabled>
    <label for="svg-zoom">Scale: </label>
    <input type="range" id="svg-zoom" min="0.1" max="5" step="0.1" value="1">
    <span id="svg-zoom-pct">100</span>
    <span>%</span>

    <legend>Visualization mode:</legend>

    <input type="radio" name="visualmode" id="vm-diff" value="vm-diff" checked />
    <label for="vm-diff">Diff</label>

    <input type="radio" name="visualmode" id="vm-overlay" value="vm-overlay" />
    <label for="vm-overlay">Overlay</label>

    <input type="radio" name="visualmode" id="vm-blend" value="vm-blend" />
    <label for="vm-blend">Blend</label>
  </fieldset>

</div>

<div id="pcb-image-div" aria-busy="true" aria-describedby="img-load-progress">
</div>

<progress id="img-load-progress" aria-label="loading an SVG image..." />

<script>


var original_width = null;
var original_height = null;

const svg_zoom = document.getElementById("svg-zoom");
var current_zoom = parseFloat(svg_zoom.value);

function scaleSVG(new_zoom) {
  // 画像は遅延読み込みなので、ここで取得
  const overlayed_svg = document.getElementById("overlayed_svg");

  const scale = Math.pow(2, new_zoom - 1);
  console.log("scaleSVG", `current_zoom=${current_zoom} new_zoom=${new_zoom} scale=${scale}`);
  const width = original_width * scale;
  const height = original_height * scale;
  console.log("setting new size:", width, height);
  overlayed_svg.setAttribute("width", width);
  overlayed_svg.setAttribute("height", height);
  document.getElementById("svg-zoom-pct").textContent = (scale * 100).toFixed(0);

  current_zoom = new_zoom;
  svg_zoom.value = current_zoom;
}

svg_zoom.addEventListener("input", (event) => {
  console.log(event);
  const new_zoom = svg_zoom.value;
  scaleSVG(new_zoom);
});

window.addEventListener("wheel", (e) => {
  // マウススクロールで倍率変更
  if (e.ctrlKey) {
    e.preventDefault();  // ページ全体のズームを防止
    console.log("deltaY", e.deltaY);

    var delta_y = e.deltaY;
    switch (e.deltaMode) {
      case 0: // px
        delta_y /= 100;
        break;
      case 1: // line
        delta_y /= 3;
        break;
      case 2: // page
        break;
    }

    const zoom_delta = (-delta_y) * 0.2;
    console.log("zoom_delta", zoom_delta);
    scaleSVG(current_zoom + zoom_delta);
  }
}, { passive: false });

const layer_select = document.getElementById("layer-select");

document.getElementById("layer-select").addEventListener("change", (event) => {
  window.location.href = `./${layer_select.value}`;
});


const base_commit = document.getElementById("base-commit");
const target_commit = document.getElementById("target-commit");

document.getElementById("change-commit-button").addEventListener("click", (event) => {
  const selected_layer = layer_select.value;
  console.log("selected layer = ", selected_layer);
  const base_commit_id = base_commit.value;
  const target_commit_id = target_commit.value;
  window.location.href = `/diff/${base_commit_id}/${target_commit_id}/${selected_layer}`;
});

const base_options = document.getElementById("base-options");
const target_options = document.getElementById("target-options");

function closeDialog(el) {
  const rect = el.getBoundingClientRect();
  const clickedOutside =
    event.clientX < rect.left ||
    event.clientX > rect.right ||
    event.clientY < rect.top ||
    event.clientY > rect.bottom;

  if (clickedOutside) {
    el.close();
  }
};

function selectBaseOption(el) {
  base_commit.value = el.dataset.commitId;
  base_options.close();
}

function selectTargetOption(el) {
  target_commit.value = el.dataset.commitId;
  target_options.close();
}

function onload_pcb_image(svg_text) {
  console.log("pcb image loaded");
  document.getElementById("pcb-image-div").innerHTML = svg_text;
  document.getElementById("pcb-image-div").setAttribute("aria-busy", "false");
  document.getElementById("img-load-progress").style.display = "none";

  const overlayed_svg = document.getElementById("overlayed_svg");
  console.log(overlayed_svg);
  original_width = overlayed_svg.width.baseVal.value;
  original_height = overlayed_svg.height.baseVal.value;
  console.log("original size: ", original_width, original_height);

  const bottom_g = document.getElementById("bottom-g");
  const top_g = document.getElementById("top-g");

  document.getElementById("show-bottom").addEventListener("change", (event) => {
    if (event.srcElement.checked) {
      bottom_g.style.opacity = 1;
      top_g.style.opacity = 0;
    }
  });
  document.getElementById("show-top").addEventListener("change", (event) => {
    if (event.srcElement.checked) {
      bottom_g.style.opacity = 0;
      top_g.style.opacity = 1;
    }
  });
  document.getElementById("show-both").addEventListener("change", (event) => {
    if (event.srcElement.checked) {
      bottom_g.style.opacity = 1;
      top_g.style.opacity = 1;
    }
  });

  document.getElementById("vm-diff").addEventListener("change", (event) => {
    if (event.srcElement.checked) {
      top_g.style.mixBlendMode = "screen";
      top_g.style.opacity = 1;
    }
  });
  document.getElementById("vm-overlay").addEventListener("change", (event) => {
    if (event.srcElement.checked) {
      top_g.style.mixBlendMode = "normal";
      top_g.style.opacity = 1;
    }
  });
  document.getElementById("vm-blend").addEventListener("change", (event) => {
    if (event.srcElement.checked) {
      top_g.style.mixBlendMode = "normal";
      top_g.style.opacity = 0.8;
    }
  });

  ["imagesel-set", "vm-set"].forEach(id => {
    document.getElementById(id).removeAttribute("disabled");
  });

}

const pcb_image_path = "/image/{{base_commit_id}}/{{target_commit_id}}/{{layer}}.svg";
fetch(pcb_image_path)
  .then(res => res.text())
  .then(svg_text => onload_pcb_image(svg_text));

</script>
</body>
</html>
